[Unit]
Description=Ferlux Boiler OCR Service
After=network.target mariadb.service

[Service]
User=svc-bastoserver
Group=svc-bastoserver

WorkingDirectory=

ExecStart=/home/usr/path/to/project/venv/bin/python main.py --settings my_settings --file_log

# Restart configuration
Restart=always
RestartSec=300

# PYTHONUNBUFFERED=1 ensures logs are sent to systemd immediately
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target